body {
    background-color: #1A1A1D;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
    /* padding-top: 5%; */
    word-wrap: break-word;
    margin: 0px !important;
}

.root {
    margin: 0px;
}

.App {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

.logo {
    width: 250px;
    height: 250px;
    padding: 0;
}

.olt {
    width: 0.8em !important;
    height: auto !important;
}

.oltBalance {

    width: 0.5em !important;
    height: auto !important;  
    margin-bottom: 5px;
}

.helpBalance {

    width: 0.6em !important;
    height: auto !important;  
    margin-bottom: 2px;
}

.transOlt {

    width: 0.6em !important;
    height: auto !important;  
    margin-bottom: 2px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.WalletInfo {
    width: 500px;
}

.Block {
    margin: 2%;
}

.Transaction {
    padding: 1%;
}

.ConductTransaction, .TransactionPool {

}

a {
    color: #959BB1;
    text-decoration: none;
}

a:hover {
    color: #DCDEE5;
    text-decoration: none;

}

/* .nav {
    flex-wrap: nowrap;
} */

/* @media only screen and (max-width: 900px) {
    .nav {
      display: flex;
      flex-wrap: wrap;
    }
} */

@media screen and (max-width: 767px) {
    .navbar-nav>li {
      display: block !important;
    }

    .navbar-nav {
        display: block !important;
    }

    .nav {
        display: block !important;
    }

    .oltLogo, .title {
        text-align: center !important;
    }

    .loginForm {
        width: 70% !important;
        margin: 0 auto;
    }
  }


  @media screen and (min-width: 768px) {
    .navbar-nav>li {
        display: flex !important;
      }

    .navbar-nav {
        display: flex !important;
    }

    .nav {
        display: flex !important;
    }


.totalRow {
    padding-left: 20%;
}
  }

.navbar-nav {
    /* display: flex;
    flex-wrap: nowrap; */
    width: 100%;
  }

.nav {
    width: 100%;

}

.navbar,
.navbar-default {
    background-color: #1A1A1D !important;
    color: black !important;
    text-align: center !important;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.nav-item {
    /* padding-left: 10% !important;
    padding-right: 10% !important; */
    color: #c3073f !important;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Roboto Condensed', sans-serif;    font-size: 1.2em;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;    
    font-size: 1.2em;
    color: #F08119 !important;
}

h1, h2, h3, h4, h5, h6 {
}

.title {
    font-family: 'Playfair Display', serif;
    text-align: left;
    color: #D46D0C;
}

.oltLogo {
    text-align: right;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #D46D0C;
}

.keyText {
    font-family: 'Oswald', sans-serif;
    color: #A39600;
    font-size: 1.2em;
}

.smallKey {
    font-family: 'Oswald', sans-serif;
    /* color: #A39600; */
    font-size: 1em;
}

.valueText {
    font-family: 'Roboto Condensed', sans-serif;
    color: #B8B8B8;
}

.valueText2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #DBDFE6;
}

DBDFE6
.balance {
    text-align: left;
    font-size: 2em;
    color: #B8B8B8;

}

.block-card {
    margin: 0 auto;
    width: 75%;
    /* background-color: #E57710 !important; */
    background-color: transparent !important;
}

.transaction-card {
    margin: 0 auto;
    width: 75%;
    background-color: #DB3A34 !important;
    /* background-color: transparent !important; */

}

.showButton {
    margin: 2% auto;
}

.transactionForm {
    width: 50%;
    margin: 0 auto;
}


.loginForm {
    width: 30%;
    margin: 0 auto;
}


.form-label {
    margin-left: 0px !important;
    font-family: 'Oswald', sans-serif;
    color: #A39600;
    font-size: 1em;
}

.Help {
    padding: 2% 10%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #C3CBD5;

}